.appWrapper{
  width: 100%;
display: grid;
grid-template-areas: 
'h h'
'n c';
grid-template-rows: 60px 1fr;
grid-template-columns: 2fr 10fr ;
}

.header{
grid-area: h;
background-color: rgba(0, 128, 32, 0.103);
}
.logo{
  width: 60px;
  height: 100%;
  background-image: url(./Big.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.nav{
grid-area: n;
background-color: rgb(119, 243, 119);
}

.content{
grid-area: c;
background-color: rgba(0, 0, 255, 0.301);
}